<%- include('./template/head') %>
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <h1 class="p-5">Usted no tienes permisos suficientes para ver este contenido</h1>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
  </body>

  </html>