body,
main,
html {
    background-color: #defff5;
}

main{
    margin-bottom: 80px;
}

#dropdownMenuButton1 {
    cursor: pointer;
}

.botonAdmin {
    color: #ff3a3a;
    font-weight: bold;
}

.listaAmigosButton {
    height: 50px;
    width: 280px;
    background-color: #6eb6a3;
}

.listaAmigosButton:hover {
    cursor: pointer;
    background-color: #5da18f;
}

.listaAmigos {
    width: 280px;
    background-color: #7ec5b2;
    display: none;
}

.chatUsuario:hover {
    cursor: pointer;
    background-color: #78beac;
}