body,
main,
html {
    background-color: #defff5;
}

main{
    margin-bottom: 80px;
}

#dropdownMenuButton1 {
    cursor: pointer;
}

.botonAdmin {
    color: #ff3a3a;
    font-weight: bold;
}

.listaAmigosButton {
    height: 50px;
    width: 280px;
    background-color: #6eb6a3;
}

.listaAmigosButton:hover {
    cursor: pointer;
    background-color: #5da18f;
}

.listaAmigos {
    width: 280px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #7ec5b2;
    display: none;
}

.chatUsuario:hover {
    cursor: pointer;
    background-color: #78beac;
}

.bandejaNotificaciones{
    cursor: pointer;
}

.numeroNoti{
    position: absolute;
}

.listaAmigos::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.listaAmigos::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.listaAmigos::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
