<div class="container-fluid fixed-bottom text-white">
  <div class="row justify-content-end">
    <div class="col-1">
      <% if (locals.usuario) { %>
        <div class="listaAmigos rounded-top float-end pt-2 text-center">
          <img class="img-fluid" src="images/users_icon.png" alt="Friend Icon" width="40px"> Lista de Chats
        </div>
        <% } %>
    </div>
  </div>
  <div class="row bg-primary">
    <footer class="my-2">
      <div class="col-12 text-center">
        <img class="me-1 img-fluid" src="images/logo.png" alt="YourGamingDB Black Logo" width="40px">
        <span>&copy; 2023 YourGamingDB v<%=process.env.npm_package_version%> | Website developed by <a
              class="text-white" href="https://es.linkedin.com/in/samuelbolivarvillanueva" target="_blank">Samuel
              Bolívar
              Villanueva</a></span>
      </div>
    </footer>
  </div>
</div>
</div>
</body>