<div class="container-fluid fixed-bottom bg-primary text-white">
    <footer class="my-2">
      <div class="col-12 text-center">
          <img class="me-1 img-fluid" src="images/logo.png" alt="YourGamingDB Black Logo" width="40px">
        <span>&copy; 2023 YourGamingDB v<%=process.env.npm_package_version%> | Website developed by <a class="text-white" 
            href="https://es.linkedin.com/in/samuelbolivarvillanueva" target="_blank">Samuel Bolívar Villanueva</a></span>
      </div>
    </footer>
  </div>
  