<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img class="img-fluid" src="images/logo.png" alt="YourGamingDB Image Logo" width="60px">
        <a class="navbar-brand" href="/">YourGamingDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%=locals.inicioActivo%>" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Sobre nosotros</a>
                </li>
            </ul>
            <form class="d-flex gap-2">
                <% if (!locals.usuario) { %>
                    <a class="btn btn-secondary" href="/login">Iniciar Sesión</a>
                    <a class="btn btn-light" href="/register">Regístrate</a>
                    <% }else{ %>
                        <div class="dropstart">
                            <img class="rounded-circle dropdown-toggle" src="images/default_avatar.png"
                                alt="Default Avatar Image" width="60px" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Configuración</a></li>
                                <li><a class="dropdown-item bg-danger" href="/logout">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                        <% } %>
            </form>
        </div>
    </div>
</nav>